<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.mobile.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

<title>Painel Mobile</title>
