.table_users{
    width: 100%;
    .table_id{
        width: 10%;
    }
    .table_email{
        width: 50%;
    }
    .table_senha{
        width: 20%;
    }
    .table_acoes{
        width: 20%;
    }
    .table_botoes{
        text-align: center;
    }
    td, th{
        border: 1px solid #999;
        padding: 10px;
    }
}
.box{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d3e0e9;
    .box-top{
        margin-bottom: 20px;
    }
}
