@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.table_users {
  width: 100%; }
  .table_users .table_id {
    width: 10%; }
  .table_users .table_email {
    width: 50%; }
  .table_users .table_senha {
    width: 20%; }
  .table_users .table_acoes {
    width: 20%; }
  .table_users .table_botoes {
    text-align: center; }
  .table_users td, .table_users th {
    border: 1px solid #999;
    padding: 10px; }

.box {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d3e0e9; }
  .box .box-top {
    margin-bottom: 20px; }

/*# sourceMappingURL=all.css.map */
